<div class="navigation-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="doc-title docs">
    All resources <button class="nav-toggle"></button>
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    {{#if (not (eq this.name "changelogs"))}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <span class="title">{{{./title}}}</span>
      <ul class="versions">
        {{#each ./versions}}
        <li class="version
          {{~#if (and (eq ../this @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
	  {{~#if (eq ./version "7.2") }}
          <a href="{{{relativize @root.page.url ./url}}}">{{./version}}-beta</a>
	  {{else}}
	  <a href="{{{relativize @root.page.url ./url}}}">{{./version}}</a>
	  {{/if}}
        </li>
        {{/each}}
        {{~#if (and @root.site.url (eq this.name "reference"))}}
        <li class="version">
           <a href="https://docs.rudder.io/history/">older</a>
        </li>
        {{/if}}
      </ul>
    </li>
    {{/if}}
    {{/each}}
    <li class="component">
      <span class="title">Rudder language</span>
        <ul class="versions">
          <li class="version">
            <a href="https://docs.rudder.io/language/7.1/">7.1</a>
          </li>
          <li class="version is-latest">
            <a href="https://docs.rudder.io/language/7.0/">7.0</a>
          </li>
        </ul>
      </span>
    </li>
    <li class="component">
      <span class="title">Public API reference</span>
        <ul class="versions">
          <li class="version">
            <a href="https://docs.rudder.io/api/v/15/">7.1 (v15)</a>
          </li>
          <li class="version is-latest">
            <a href="https://docs.rudder.io/api/v/14/">7.0 (v14)</a>
          </li>
          <li class="version">
            <a href="https://docs.rudder.io/api/v/13/">6.2 (v13)</a>
          </li>
          <li class="version">
            <a href="https://docs.rudder.io/api/v/12/">6.1 (v12)</a>
          </li>
          <li class="version">
            <a href="https://docs.rudder.io/api/v/">older</a>
          </li>
        </ul>
      </span>
    </li>
    <li class="component">
      <span class="title">Relay API reference</span>
        <ul class="versions">
	  <li class="version is-latest">
	    <a href="https://docs.rudder.io/api/relay/v/1/">6-7 (v1)</a>
	  </li>
        </ul>
      </span>
    </li>
    {{#if site.url}}
    <li class="component">
      <span class="title">Changelogs</span>
        <ul class="versions">
          {{#each site.components}}
          {{#if (eq this.name "reference")}}
          {{#each ./versions}}
          <li class="version {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
	    {{~#if (eq ./version "7.2") }}
            <a href="{{@root.site.url}}/changelogs/{{./version}}/index.html">{{./version}}-beta</a>
	    {{else}}
	    <a href="{{@root.site.url}}/changelogs/{{./version}}/index.html">{{./version}}</a>
	    {{/if}}
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
        </ul>
      </span>
    </li>
    {{/if}}
  </ul>
</div>
