<div class="navigation-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">{{page.component.title}}</span>
    <span class="version">{{page.version}}</span>
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    {{#if (not (eq this.name "changelogs"))}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <span class="title">{{{./title}}}</span>
      <ul class="versions">
        {{#each ./versions}}
        <li class="version
          {{~#if (and (eq ../this @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
          {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
          <a href="{{{relativize @root.page.url ./url}}}">{{./version}}</a>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/if}}
    {{/each}}
    <li class="component">
      <span class="title">API reference</span>
        <ul class="versions">
	  <li class="version is-latest">
	    <a href="https://docs.rudder.io/api">current</a>
	  </li>
        </ul>
      </span>
    </li>
    {{#if site.url}}
    <li class="component">
      <span class="title">Changelogs</span>
        <ul class="versions">
          {{#each site.components}}
          {{#if (eq this.name "reference")}}
          {{#each ./versions}}
          <li class="version {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
            <a href="{{@root.site.url}}/changelogs/{{./version}}/index.html">{{./version}}</a>
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
        </ul>
      </span>
    </li>
    {{/if}}
  </ul>
</div>
